@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58705688-67b9-41e9-a2d7-e73d1038a182/dedsfru-439ba8f7-d5be-4e85-b07d-e050f6f51a0c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU4NzA1Njg4LTY3YjktNDFlOS1hMmQ3LWU3M2QxMDM4YTE4MlwvZGVkc2ZydS00MzliYThmNy1kNWJlLTRlODUtYjA3ZC1lMDUwZjZmNTFhMGMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n3V4LNhtz1s6PuRg_y7-HTuyE361_eI3-c5VnC_zhJU');
    background-size: cover;
}

.card {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 40px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(130deg, black, red);
}

.card h3 {
    padding: 20px 30px 20px 10px;
    margin-top: 295px;
    margin-left: 80px;
    color: white;
    text-transform: capitalize;
}

.card:hover h3 {
    visibility: hidden;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
}

.card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 450px;
    transition: 0.5s;
}

.card:hover img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s;
    left: 80%;
    height: 550px;
    z-index: 1
}

.card .content {
    position: relative;
    width: 59%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
    color: white;
}

.card .content h2 {
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 2rem;
}

.card .content h1 {
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 2.8rem;
}

.card .content a {
    position: relative;
    display: inline-block;
    color: black;
    padding: 8px 10px;
    border-radius: 50px;
    background: white;
    margin-top: 5px;
    text-decoration: none;
}

@media (max-width: 991px) {
    body {
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58705688-67b9-41e9-a2d7-e73d1038a182/dedsfru-439ba8f7-d5be-4e85-b07d-e050f6f51a0c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU4NzA1Njg4LTY3YjktNDFlOS1hMmQ3LWU3M2QxMDM4YTE4MlwvZGVkc2ZydS00MzliYThmNy1kNWJlLTRlODUtYjA3ZC1lMDUwZjZmNTFhMGMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n3V4LNhtz1s6PuRg_y7-HTuyE361_eI3-c5VnC_zhJU');
        background-size: cover;
    }
    .card {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }
    .card:hover {
        height: 600px;
    }
    .card:hover img {
        left: 50%;
        height: 300px;
    }
    .card:hover h3 {
        visibility: hidden;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
    }
    .card .content {
        width: 100%;
        left: 0;
        padding: 20px;
    }
}

@media (max-width: 420px) {
    body {
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58705688-67b9-41e9-a2d7-e73d1038a182/dedsfru-439ba8f7-d5be-4e85-b07d-e050f6f51a0c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU4NzA1Njg4LTY3YjktNDFlOS1hMmQ3LWU3M2QxMDM4YTE4MlwvZGVkc2ZydS00MzliYThmNy1kNWJlLTRlODUtYjA3ZC1lMDUwZjZmNTFhMGMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n3V4LNhtz1s6PuRg_y7-HTuyE361_eI3-c5VnC_zhJU');
        background-size: 445px 920px;
    }
    .card:hover {
        height: 800px;
    }
    .card .content {
        padding: 15px;
        height: 800px;
    }
    .card:hover img {
        height: 270px;
        left: 50%;
    }
    .card h3 {
        margin-top: 270px;
        color: white;
        text-transform: capitalize;
    }
    .card:hover h3 {
        visibility: hidden;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
    }
}