@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(130deg, red, blue);
}

.card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    transition: 0.5s;
}

.card:hover img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    height: 250px;
    transition: 0.5s;
    left: 80%;
    height: 350px;
    z-index: 1
}

.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0%;
    color: white;
}

.card .content h2 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
}

.card .content a {
    position: relative;
    display: inline-block;
    color: black;
    padding: 10px 20px;
    border-radius: 60px;
    background: white;
    margin-top: 10px;
    text-decoration: none;
}

@media (max-width: 991px) {
    .card {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }
    .card:hover {
        height: 600px;
    }
    .card:hover img {
        left: 50%;
        height: 250px;
    }
    .card .content {
        width: 100%;
        left: 0;
        padding: 20px;
    }
}

@media (max-width: 420px) {
    .card .content {
        padding: 30px;
    }
    .card:hover img {
        height: 300px;
        left: 50%;
    }
}

.card2 {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(130deg, red, blue);
}

.card2 img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    transition: 0.5s;
}

.card2:hover img {
    left: 70%;
    height: 350px;
}

.card2 .content2 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card2:hover .content2 {
    opacity: 1;
    visibility: visible;
    left: 0%;
    color: white;
}

.card2 .content2 h2 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
}

.card2 .content2 a {
    position: relative;
    display: inline-block;
    color: black;
    padding: 10px 20px;
    border-radius: 60px;
    background: white;
    margin-top: 10px;
    text-decoration: none;
}

@media (max-width: 991px) {
    .card2 {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }
    .card2:hover {
        height: 600px;
    }
    .card2:hover img {
        left: 50%;
        height: 250px;
    }
    .card2 .content2 {
        width: 100%;
        left: 0;
        padding: 20px;
    }
}

@media (max-width: 420px) {
    .card2 .content2 {
        padding: 30px;
    }
    .card2:hover img {
        height: 300px;
        left: 50%;
    }
}

#start-btn {
    font-size: 16px;
    padding: 10px 20px 10px 40px;
    margin-top: 30px;
    border-radius: 10px;
}

.dust {
    position: absolute;
}